h1,
h2,
p,
.btn {
  color: rgb(238, 38, 38);
}

.btn,
body {
  background: black;
  border-radius: black;
}

.work {
  background: black;
  padding: 160px 20px;
}
.work h1 {
  font-size: 96px;
}
.work h2 {
  font-size: 36px;
}

.navbar {
  background: rgb(238, 38, 38);
}
a {
  color: black;
}
