h1,
h2,
a,
.btn {
  color: rgb(199, 27, 99);
}

.btn {
  background: black;
  border-radius: black;
}

.work {
  background: black;
  padding: 160px 20px;
}
.work h1 {
  font-size: 96px;
}
.work h2 {
  font-size: 36px;
}

.colour {
  background: black;
}
