@media (max-width: 768px) {
  .project-tech-list {
    display: flex;
    flex-direction: column;
  }
}

.work {
  background: rgb(180, 176, 238);
  padding: 160px 20px;
}
.work h1,
.about {
  font-size: 96px;
}
.work h2 {
  font-size: 36px;
}

img {
  border-radius: 20px;
}

.navbar-toggler-icon {
  color: black;
}

body {
  background: #031630;
  justify-content: center;
}

.project-tech-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a,
.contact-button {
  color: rgb(180, 176, 238);
}
.social-links {
  gap: 10px;
}
.contact-box,
.primary-link {
  background: rgb(180, 176, 238);
  border-radius: 8px;
}
.contact-button,
.sec-link {
  background: #031630;
}
.nav-page,
.box,
.icon {
  background: rgb(180, 176, 238);
}
.name,
.intro {
  color: #031630;
}

.pic {
  border-radius: 150px;
}
.btn:hover {
  background: white;
  color: #031630;
}

.hero {
  background: #031630;
}
.list {
  display: flex;
  gap: 1px;
  list-style-type: none;
}
